h3 {
  margin-top: 30px;
}

h4 {
  margin: 16px 0 16px 0;
}

h3, h4 {
  font-family: "Titillium Web", sans-serif;
}

h3, h3 * {
  font-size: 20px;
}

h4, h4 * {
  font-size: 18px;
}

pre {
	overflow: auto;
	width: auto;
}

blockquote {
  margin-left: 40px;
}

.python-code {
    font-family: Courier New;
}


.stafftitle {
  font-size: 20px;
}

.staffname {
  float: left;
  font-style: italic;
}

.staffbio {
  clear: left;
  padding-top: 10px;
}

.byline {
  margin-top: 0;
  margin-bottom: 20px;
}

.citation {
  text-align: left;
}
  
.authorbio {
  font-style: italic;
}

.italicd {
  font-style: italic;
}

.boldd {
  font-weight: bold;
}

.disclaimer {
  font-style: italic;
  font-size: 9pt;
}

.imgcenter, .imgcaption {
  text-align: center;
  font-style: italic;
}

.imgcaption {
	margin-top: 5px;
}

.code, .command {
	font-family: Courier New,Courier,fixed;
}

img.center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
	max-width: 90%;
}

.screenshot {
  margin: 10px;
}

.floating-box-button a {
  border-style: solid;
  border-width: 1px;
  border-color: #777777;
  color: black;
  background-color: #DDDDDD;
  text-decoration: none;
  padding: 2px 5px 2px 5px;
  line-height: 24px;
}

.floating-box-button a:hover {
  color: white;
  border: 1px solid rgb(60, 112, 128);
  background-color: rgb(55, 135, 226);
}

.floating-box {
  position: fixed;
  /* Center the box at the bottom of the screen. */
  bottom: 0px;
  left: 50%;
  right: 25%;
  width: 282px;
  margin-left: -141px;
  background-color: transparent;
}

.floating-box-table {
  border-collapse: separate !important;
  border-left: 1px solid rgb(152,152,152);
  border-top: 1px solid rgb(152,152,152);
  border-right: 1px solid rgb(152,152,152);
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

.floating-box-table tbody tr:first-child td:first-child {
  border-top-left-radius: 0.25em;
}

.floating-box-table tbody tr:first-child td:last-child {
  border-top-right-radius: 0.25em;
}

.floating-box-table * {
  background-color: #EEEEEE;
}

.floating-box-tr {
  right: 20px;
  top: 20px;
}

.floating-box-br {
}

.floating-box-button {
  padding: 3px 3px 3px 3px;
  text-align: center;
}

.unlinked-button {
  padding: 2px 9px 2px 9px;
}

.page-back {
}

.page-forward {
}

.footer {
  padding-bottom: 40px;
}

aside {
	float: right;
	margin-left: 18px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 8px;
	max-width: 250px;
}

aside, aside * {
	background-color: #eee;
}

aside dt {
	font-style: italic;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 3px;
	font-size: 9pt;
}

aside dd {
	text-align: right !important;
	font-size: 8pt;
	margin-left: 20px;
}

aside h4 {
	margin-top: 0;
	font-variant: small-caps;
}

.inline-blocks h4 {
  display: block;
  clear: both;
}

.inline-blocks img {
  display: inline;
  float: right;
}
