@font-face {
  font-family: PTSZ;
  src: url(_fonts/ProggyTinySZ.ttf#ProggyTinyTTSZ) format(truetype);
}

h2, h3 {
  font-style: normal;
  font-variant: small-caps;
  font-weight: normal;
}

h2 {
  font-size: 11pt;
  font-weight: bold;
  padding-bottom: 20px;
  margin-top: 0px;
}

h3 {
  font-size: 10pt;
  margin-top: 0px;
  margin-bottom: 0px;
}

.issue-column {
  float: left;
  width: 140px;
  padding-left: 30px;
  padding-right: 30px;
}

.issue-column div, .issue-column div * {
}

.issue-toc-label h2 {
  text-align: center !important;
}

.issue-toc-month, .issue-toc-volumeissue {
  font-size: 10pt;
  color: #888888;
  text-align: center !important;
  width: 100%;
}

.issue-toc-month {
  padding-bottom: 10px;
}

.toc-header {
}

.download {
  margin-top: 100px;
}

.download-label {
  font-style: normal;
  font-variant: small-caps;
  font-weight: normal;
  text-align: center !important;
  border: 1px dashed #DDDDDD;
  vertical-align: middle;
}

.download-entries {
  overflow: auto;
  padding: 4px;
  border-left: 1px dashed #DDDDDD;
  border-right: 1px dashed #DDDDDD;
  border-bottom: 1px dashed #DDDDDD;
}

.download-entry-format, .download-entry-size {
  float: left;
  width: 50%;
  font-size: 8pt;
  text-align: right !important;
}

.download-entry-format a, .download-entry-format a {
  font-size: 8pt;
}

.download-entry-format {
  width: 6em;
}

nav {
  position: relative;
  float: left;
  width: 569px;
  border-left: 1px solid #DDDDDD;
  padding-left: 30px;
  padding-bottom: 10px;
}

nav ul {
  list-style: none;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 0px;
}

.content-articles ul {
  padding-left: 20px;
}

.content-section-header  {
  font-variant: small-caps;
  padding-bottom: 10px;
}
