/* This always shows the right hand scroll bar.   This is necessary because every article
   scrolls vertically and has the bar, but the index page does not.  Whether the bar is
   present affects page centering, and placement of the nav bar down the bottom.  If the
   page centering changes between pages, then the nav bar shifts under the mouse.  */
html {
	overflow-y: scroll;
}

@font-face {
  font-family: 'PTSZ';
  src: url('_fonts/ProggyTinySZ.ttf#ProggyTinyTTSZ') format('truetype'); /* Chrome */
  src: url('_fonts/ProggyTinySZ.ttf') format('truetype'); /* IE 10 */
}

@keyframes blink {  
    0% { background-color: black; }
    50% { background-color: #00FF00; }
    100% { background-color: black; }
}
@-webkit-keyframes blink {
    0% { background-color: black; }
    50% { background-color: #00FF00; }
    100% { background-color: black; }
}
@-moz-keyframes blink {
    0% { background-color: black; }
    50% { background-color: #00FF00; }
    100% { background-color: black; }
}
@-o-keyframes blink {
    0% { background-color: black; }
    50% { background-color: #00FF00; }
    100% { background-color: black; }
}

.pagetitle-cursor {
	/* Time moved from realistic 1.5s to 10s, to prevent Griatch from being made ill from blinking. */
    animation: blink 10s steps(1) infinite;
    -webkit-animation: blink 10s steps(1) infinite;
    -moz-animation: blink 10s steps(1) infinite;
    -o-animation: blink 10s steps(1) infinite;
}

* {
  background-color: #FFFFFF;
  font-family: Verdana, Trebuchet, Times New Roman, Arial;
  font-size: 10pt;
}

a {
  text-decoration: none;
}

.global nav a {
  border-style: solid;
  border-width: 1px;
  border-color: #777;
  color: black;
  background-color: #eee;
  text-decoration: none;
  padding: 1px 3px;
  margin: 1px 3px;
  line-height: 24px;
  display: inline-block;
  min-width: 510px;
  border-radius: 5px;
}

.global nav div ul a {
  min-width: 490px;
}

.floating-box-button a {
  border-style: solid;
  border-width: 1px;
  border-color: #777777;
  color: black;
  background-color: #DDDDDD;
  text-decoration: none;
  padding: 2px 5px 2px 5px;
  line-height: 24px;
}

.global nav a:hover, .floating-box-button a:hover {
  color: white;
  background-color: green;
}

.pagetitle, .pagetitle a, .pagetitle-cursor, .pagetitle-cursor-off {
  font-family: 'PTSZ', Courier New;
  line-height: 70px;
  font-size: 64pt;
}

.pagetitle, .pagetitle a {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 0px 10px 0px;
  background-color: black;
  color: white;
}

.main * {
  text-align: justify;
}

main, .main {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 50px; /* Space for fixed nav bar. */
}

.page-controls {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  border-style: dashed;
  border-width: 1px;
  border-color: darkgrey;
}


.page-controls-left, .page-controls-right, .page-controls-detail {
  float: left;
  height: 100%;
  text-align: center;
  font-size: 8pt;
}

.page-controls-left {
  vertical-align: middle;
  width: 16px;
}

.page-controls-detail {
  width: 48px;
}

.page-controls-right {
  width: 16px;
}

.next-page-control {
  position: absolute;
  bottom: 10;
  right: 0;
}

.next-page-control a {
  font-size: 12pt;
}

.floating-box {
  position: fixed;
  /* Center the box at the bottom of the screen. */
  bottom: 0px;
  left: 50%;
  right: 25%;
  width: 300px;
  margin-left: -150px;
  background-color: transparent;
}

.floating-box-table {
  border: dashed 1px #AAAAAA;
}

.floating-box-table * {
  background-color: #EEEEEE;
}

.floating-box-tr {
  right: 20px;
  top: 20px;
}

.floating-box-br {
}

.floating-box-button {
  margin: 5px 5px 5px 5px;
  text-align: center;
}

.unlinked-button {
  padding: 3px 7px 3px 7px
}

.page-back {
}

.page-forward {
}

aside {
	float: right;
	margin-left: 18px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 8px;
	max-width: 250px;
}

aside, aside * {
	background-color: #eee;
}

aside dt {
	font-style: italic;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 3px;
	font-size: 9pt;
}

aside dd {
	text-align: right !important;
	font-size: 8pt;
	margin-left: 20px;
}

aside h4 {
	margin-top: 0;
	font-variant: small-caps;
}

.midbar {
  overflow: hidden;
  height: 1px;
  width: 30%;
  align: center;
  border-bottom: 1px dashed grey;
}

.inline-blocks h4 {
  display: block;
  clear: both;
}

.inline-blocks img {
  display: inline;
  float: right;
}

.rcaptionblock {
  display: inline;
  float: right;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 10px;
}

.rcaptionblock span, .rcaptionblock span a {
  font-size: 8pt;
}

.gametitle, .publicationtitle {
  font-style: italic;
}

.softwaretitle, .website {
}

.reddit-link, .reddit-link-offline {
  margin-top: 30px;
  text-align: center;
}

.reddit-link-offline, .twitter-link-offline {
  margin: 0 auto;
  margin-top: 30px;
  max-width: 200px;
}
.reddit-link-offline img, .twitter-link-offline img {
  vertical-align: middle;
  float: inherit;
}

.twitter-link-offline {
  margin-top: 10px;
  text-align: center;
}

.reddit-link-offline a, .twitter-link-offline a {
  target-new: tab;
}

.clear {
  clear:both;
}
