p.title {
  font-size: 24pt;
  font-family: PTSZ, Courier New;
  margin-bottom: 8px;
}

p.title + p {
  font-size: 10pt;
}

h3 {
  margin-top: 30px;
}
h3, h3 * {
  font-size: 14pt;
  font-weight: bold;
}

.python-code {
    font-family: Courier New;
}

table.stafftable {
  border-left: dashed 1pt grey;
  border-top: dashed 1pt grey;
  margin-bottom: 4px;
}

/* The first paragraph in the first td in each row. */
table.stafftable td:first-child div:first-child {
  text-align: center;
}

/* All table cells. */
table.stafftable tr td {
  padding: 5px;
  border-right: dashed 1pt grey;
  border-bottom: dashed 1pt grey;
}

table.stafftable td.imgcenter {
  width: 120px;
}

.staffname {
  float: left;
  font-style: italic;
}

.stafftitle {
  float: right;
}

.staffbio {
  clear: both;
  float: none;
  padding-top: 10px;
}

.byline {
  margin-top: 0;
  margin-bottom: 20px;
}

.citation {
  text-align: left;
}
  
.authorbio {
  font-style: italic;
}

.disclaimer {
  font-style: italic;
  font-size: 9pt;
}

/* Need to automatically rename, or manually, class usage to use these... */

.quotetext {
	direction: ltr;
	margin-left: 36pt;
	font-style: italic;
}

.quoteattr {
	text-align: right;
}

.imgcenter, .imgcaption {
  text-align: center;
  font-style: italic;
}

.imgcaption {
	margin-top: 5px;
}

.code, .command {
	font-family: Courier New,Courier,fixed;
}

img.center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.screenshot {
	margin: 10px;
}

.vtop {
	vertical-align: top;
}

.vmid {
	vertical-align: middle;
}
