@font-face {
  font-family: 'PTSZ';
  src: url('fonts/ProggyTinySZ.ttf#ProggyTinyTTSZ') format('truetype'); /* Chrome */
  src: url('fonts/ProggyTinySZ.ttf') format('truetype'); /* IE 10 */
}

@keyframes blink {  
    0% { background-color: black; }
    50% { background-color: #00FF00; }
    100% { background-color: black; }
}
@-webkit-keyframes blink {
    0% { background-color: black; }
    50% { background-color: #00FF00; }
    100% { background-color: black; }
}
@-moz-keyframes blink {
    0% { background-color: black; }
    50% { background-color: #00FF00; }
    100% { background-color: black; }
}
@-o-keyframes blink {
    0% { background-color: black; }
    50% { background-color: #00FF00; }
    100% { background-color: black; }
}

.pagetitle-cursor {
	/* Time moved from realistic 1.5s to 10s, to prevent Griatch from being made ill from blinking. */
    animation: blink 10s steps(1) infinite;
    -webkit-animation: blink 10s steps(1) infinite;
    -moz-animation: blink 10s steps(1) infinite;
    -o-animation: blink 10s steps(1) infinite;
}

* {
  background-color: #FFFFFF;
  font-family: Verdana, Trebuchet, Times New Roman, Arial;
  font-size: 10pt;
}

.pagetitle, .pagetitle a, .pagetitle-cursor, .pagetitle-cursor-off {
  font-family: 'PTSZ', Courier New;
  line-height: 70px;
  font-size: 64pt;
}

.pagetitle, .pagetitle a {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 0px 10px 0px;
  background-color: black;
  color: white;
}

.alignright {
  text-align: right;
}

.outerleftcolumn {
  float: left;
  max-width: 550px;
  padding-left: 20px;
}

.outerrightcolumn {
  float: right;
  max-width: 195px;
  margin-right: 20px;
}

.outerrightcolumnlinks {
}

.row {
  clear: both;
  padding: 10px;
}

.col {
  float: left;
}

.col1 {
  width: 22px;
}

.rsscol {
  padding-left: 6px;
  font-family: 'PTSZ', Courier New;
  font-size: 16px;
  line-height: 14px;
}

.twittercol {
  padding-left: 6px;
  font-family: 'PTSZ', Courier New;
  font-size: 16px;
  line-height: 18px;
}

.redditcol {
  padding-left: 6px;
  font-family: 'PTSZ', Courier New;
  font-size: 16px;
}

.textsectionheader {
  font-family: 'PTSZ', Courier New;
  font-size: 23px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;  
}

.headertopgap {
  margin-top: 30px;
}
